body {
    margin: 0; 
    display: flex; 
}

.header {
    background-color: #1F2937;
    height: 400px;
    padding-left: 200px;
    padding-right: 200px; 
    display: flex;
    flex-wrap: wrap;
}

.left {
    text-align: left;
    color: white; 
    font: 30px;
    display: flex;
    justify-content: flex-start;
}
.right {
    gap: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: purple; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.introduction {
    color: white;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.website {
    font-size: 48px; 
    font-style: bold;
    font-weight: bolder;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.subtext { 
    font-size: 18px;
    display: flex; 
    flex-wrap: wrap;
}

button {
    color: white;
    background-color: #3882f6;
    font-size: 24px; 
    padding: 10px 20px; 
    border-radius: 10px; 
    border: none; 
    min-width: 100px;
}

.image-placeholder {
    color: gray;
    display: flex;
    height: 50px;
    width: 250px;
    margin: 5px;
}

.image-placeholder .h4 {
    text-align: right;
    align-self: flex-end; 
}