body {
    margin: 0; 
    display: flex;
    flex-direction: column;
    position: relative; 
}

.header {
    background-color: #1F2937;
    height: 5%;
    padding-left: 10%;
    padding-right: 10%; 
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
}

.left {
    color: white; 
    font: 30px;
}

.links {
    
}

ul {
    list-style-type: none;
    display: flex;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: purple; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.introduction {
    background: #1F2937;
    color: white;
    display: flex;
    height: 350px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
}

.intro-left {
    width: 50%;
    height: 100%;
}

.intro-right {
    width: 50%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.website {
    font-size: 48px; 
    font-style: bold;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    margin-bottom: 0px;
}

.subtext { 
    font-size: 18px;
    display: flex; 
    flex-flow: column wrap;
    max-width: 75%;
    margin-top: 0px;
    margin-bottom: 1%;
}

button {
    color: white;
    background-color: #3882f6;
    font-size: 24px; 
    display: flex;
    flex-shrink: 10;
    max-width: 25%;
    justify-content: center;
    margin-top: 0px;
}

.image-placeholder {
    display:flex;
    justify-content: flex-end;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    height: 350px;
}

.heading {
    font-size: 36px; 
    font-style: bold;
    font-weight: bolder;
    display: flex;
    color:#1f2937;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.subheading {
    flex-direction: row;
    justify-content: center;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-color:#3882f6;
}